.filter_element{
  height:53px;
 

}
.property_trigger{
    width:300px;
    height:53px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid #A2A9B8;
    margin: 0 0 6px 0;
    padding: 8px 12px ;
    cursor: pointer;
   
  }
  .property_trigger.active{
    border-bottom: 0;
    margin: 0px;
   
  }
  .property_trigger_title{
    font-family: 'Circe';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0F0F14;
   
  }
  .property_trigger:hover .property_trigger_title{
    color:#004DD5
  }
.property_on_btn{
    width:24px;
    height:24px;
    background: url(./../../../../../assets/img/accordio_arrow.svg) no-repeat center;
    border:0;
    cursor: pointer;
   
}
.pop_up_filter_wrap.active{
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  display: flex;
  flex-wrap: wrap,
 
}
.pop_up_filter_wrap{
 display: none;
}
.pop_up_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 8px;
  border: 1px solid #6B7A99;
  border-radius: 18px;
  gap: 8px;
  margin: 0;
}

.property_trigger_accordion {
  display: none;

}
.pop_up_filter_label{
  font-size: 16px;
    color: #6b7a99;
    font-weight: 400;
    white-space: nowrap;
}
  .pop_up_filter_btn{    
    width: 16px;
    height: 16px;
    background: url(./../../../../../assets/img/cross.svg);
    background-position: center;
    background-size: contain;
    border: none;
  }
  .property_trigger_accordion.active{
    position: absolute;
    z-index: 10;
    width:300px;
    display: flex;
    height: auto;
    border: 1px solid #F0F2F5;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0 0 6px 0;
    cursor: pointer;
 
  }
  .properties_wrap{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    padding: 6px 0 0 0;
  }
  .property_value{
    width: 94%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Circe';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    padding: 10px 10px ;
    margin: 0 0 6px 0;
    transition: 0.3s;
  }
  .property_value:hover,.property_value:active, .property_value:focus{
    color: #FFFFFF;
    background-color: #004DD5 ;
  }