  .preloader_position{
    width: 100%;
    top: 50%;
    right: 50%;
  }
.right_column_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 1790px){
    .right_column_wrap{
        max-width: 1156px;
        width: 100%;
    } 
}
  @media screen and (max-width:1284px){
    .right_column_wrap{
      max-width: 100%;
      width: 100%;
    }
  }