  .left_column_wrap{
    min-width: 324px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap:32px;
    border: 1px solid #A2A9B8;
    border-radius: 8px ;
    padding: 25px 12px 55px 12px ;
  }
  .filter_title_block{
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 13px 0 0;
  }
  .filters_subtitle{
    font-family: 'Circe';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .reset_all_btn{
    text-align: bottom;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .reset_all_btn:active,.reset_all_btn:focus,.reset_all_btn:hover{
    color: #004DD5;
    border-bottom: 1px solid #004DD5;
  }
  .car_choose_property_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  /* .car_choose_property_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    margin: 0 0 16px 0;
    cursor: pointer;
  } */
  /* .car_choose_property_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    margin: 0 0 16px 0;
    cursor: pointer;
  } */
  .property_show_results_btn{
    position: relative;
    width:100%;
    height:48px;
    background: #004DD5;
    border: none;
    border-radius: 4px;
    font-family: 'Circe';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    bottom:0;
  }
  
  @media screen and (max-width:1440px){
    .left_column_wrap{
      min-width: 308px;
    }
  }
  
  @media screen and (max-width:1284px){
    .left_column_wrap{
      display: none;
    }
  }
  