.paginator{
  display: inline-block;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  }
.pagination_btn{
  min-width: 36px;
  vertical-align: middle;
  background: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 12px;
  
}
.pagination_btn:hover,.pagination_btn:active{
  color:rgba(0,0,0,0.5);
  background:#EDEFF3 ;
  border-radius: 8px;
  transition:  .3s ease;
}
.pagination_btn.active{
  color:#FFFFFF;
  background:#0050CF ;
  border-radius: 8px;
  transform: scale(1.1);
}
.pagination_btn:first-child{
  margin-right: 5px;
}
.pagination_btn:last-child{
  margin-left: 3px;
}
.change_page_img{
  vertical-align: middle;
  object-fit: contain;
}