.right_columns_first_row{
    max-width: 1360px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin : 0 0 40px 0;
}
.find_amount_block{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap:10px;
    align-items: center;
    flex-direction: row;

}
.find_amount_title{
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6B7A99;
}
.find_amount_value{
    font-family: 'Circe';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0F0F14;
    margin: 0;
}
.sort_main_list_param{
    height:40px;
    display: flex;
    flex-direction: row;
    gap:40px;
}