
/* footer start */
.footer_wrapper{
    width:100%;
    background: #002D6E;
    margin: 0 auto;
  }
  .wrapper{
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 15px ;

  }
  .footer_info_wrap{
    max-width: 1453px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding-bottom: 48px;
  }
  .footer_list_column{
    position: relative;
    width:142px;
    height:124px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Circe';
  }
  .footer_list_column:nth-child(1){
    width:142px;
    height:156px;
  }
  .footer_list_column:last-child{
    margin-right: 0;
  }
  .footer_list_column::after{
    content: "";
    position: absolute;
    top: 20%;
    right: -93px;
    width: 1px;
    height: 116px;
    background-color: rgba(255,255,255, 0.1);
  }
  .footer_list_column:last-child:after{
    display: none;
  }
  .main_footer_column_link{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 16px 0;
  }
  .footer_column_link{
    text-decoration: none;
    color:rgba(255,255,255, 0.6);
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 12px 0;
  }
  
  .footer_social_networks{
    width:100%;
    height:32px;
    display:flex;
    justify-content: space-between;
    margin:24px 0 24px 0 ;
  }
  .footer_networks_wrap{
    width: 192px;
    height:100%;
    display:flex;
    justify-content: space-between;
  }
  .network_elem{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .network_elem_img{
    object-fit: contain;
  }

  @media screen and (max-width: 1790px) {
    .wrapper {
      max-width: 1592px;
      width: 100%;
        padding-right:40px;
        padding-left:40px;
    }
}
  @media screen and (max-width: 1440px) {
    .footer_list_column:last-child{
      display: none;
    }
    .footer_list_column:nth-child(4):after{
      display: none;
    }
    .footer_list_column::after{
      right: -130px;
    }
}
@media screen and (max-width: 1220px) {
  .footer_list_column::after{
    right: -94px;
  }
}
  @media screen and (max-width: 1024px) {
    .footer_list_column:last-child{
      display: flex;
    }
    .footer_list_column:nth-child(3):after{
      display: none;
    }
    .footer_list_column:nth-child(4):after{
      display: flex;
    }
    .footer_info_wrap{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 57px;
    }
    .footer_list_column::after{
      right: -66px;
    }
}
@media screen and (max-width: 768px) {
  .footer_list_column::after{
    right: -40px;
  }
}
@media screen and (max-width: 666px) {
  .wrapper {
    padding-right:32px;
    padding-left:32px;
  }
  .footer_info_wrap{
    grid-template-columns: repeat(2,1fr);
  }
  .footer_list_column::after,.footer_list_column:nth-child(4):after{
    display: none;
  }

}
@media screen and (max-width: 420px) {
  .footer_info_wrap{
    gap:44px;
  }
  .footer_info_wrap{
    grid-template-columns:1fr;
  }
  .footer_list_column{
    width: 100% !important;
    display: none;
  }
  .footer_list_column:nth-child(1),.footer_list_column:nth-child(1){
    display: flex;
  }
  .footer_list_column:first-child>.footer_column_link:last-child{
    width: 100%;
    padding-bottom: 22px ;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    padding-right:16px;
    padding-left:16px;
  }
}