
  .right_column_tiles_row{
    width: 100%;
    height: 555px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 24px 0;
  }
  .right_column_tiles_row:last-child{
    margin:0;
  }