.mySwiper{
    max-width: 592px;
    width: 100%;
    height: 400px;
    margin: 0 34px 0 0;
}
.swiper_slide{
    width: 100%;
    height: 100%;
}
.swiper_slide img{
    width: 100%;
    object-fit: contain;

}