.left_link_style{
    text-decoration: none !important ;
    color:#000;
}
.main_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
    font-family: 'Circe';
}
.main_inner_wrap{
    width: 80%;
    max-width: 1512px;
    margin: 0 auto;
}
.main_title{
    color:#000;
}
.main_info_wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.left_column{
    display: flex;
    flex-direction: column;
    flex: 0 0 324px;
    border: 1px solid #A2A9B8;
    min-height: 614px;
}
.sels_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 20px 20px 6.5px 25px;
}
.sales_item{
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #A2A9B8;
    cursor: pointer;
}
.item_value_pair{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-left: 12px;
    padding-right: 6px;
}
.item_title{
    font-weight: 400;
    font-size: 18px;
    color: #0f0f14;
    transition: color .3s;
}
.item_title:hover,.item_title:focus, .item_title:active{
    color: #004dd5;
}
.item_img_wrap{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8eb2ec;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: .3s;
}
.avalible_cash{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 7px 0 7px 25px;
    border-top: 1px solid #D3D8E5;
    border-radius: 4px;
}
.avalible_cash_txt{
    font-weight: 400;
    font-size: 22px;
    color: #000;
    line-height: inherit;
}
.avalible_cash_value{
    line-height: inherit;
    font-weight: 700;
    font-size: 42px;
    color: #000;
    margin: 0;
}
.footer{
    width:100%;
    bottom:0;
}