.main_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
    font-family: 'Circe';
}
.main_inner_wrap{
    width: 80%;
    max-width: 1512px;
    margin: 0 auto;
}
.main_info_wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.main_info_wrap:last-child{
    align-items: center;
}
.proverkdataRangePickera:hover{
    border: 1px solid blue !important;
    border-radius: 8px;
}
.title{
    font-weight: 700;
    font-size: 42px;
    color: #000;
}
.filter_wrap{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.countries_wrap{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    list-style-type: none;
}
.one_country{
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(237, 239, 243);
    border: 1px solid rgb(255, 255, 255);
    transition: .3s;
}
.one_country.active{
    color: rgb(0, 77, 213);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 77, 213);;
}
.sub_sort{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.dataRangePicker{
    /* border: 1px solid green !important; */
    border-radius: 8px;
}

.select_data_wrap{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}


