.right_column_wrapper{
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}
.right_columns_first_row{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin : 0 0 48px 0;
}
.add_filter_wrap{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.add_filter_btn::before{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(./../../../../assets/img/plus_ico.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.add_filter_btn{
    padding: 12px 24px;
    color: #0050cf;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px dashed #0050cf;
    background-color: inherit;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}
.sort_main_list_param{
    height:40px;
    display: flex;
    flex-direction: row;
    gap:40px;
}


@media screen and (max-width: 1790px){
    .right_column_wrapper{
        max-width: 1592px;
    } 
}


