.right_column_wrapper{
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}
.right_columns_first_row{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin : 0 0 48px 0;
}

.sort_main_list_param{
    height:40px;
    display: flex;
    flex-direction: row;
    gap:40px;
}


@media screen and (max-width: 1790px){
    .right_column_wrapper{
        max-width: 1592px;
    } 
}


