.first_sort_param{
    width:351;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px 0 0;
}
.first_sort_param_title{
    width:auto;
    height:100%;
    display: flex;
    align-items: center;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px 0 0;
}

.change_sort_param_wrap{
    width:243px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6B7A99;
    padding: 10px 12px;
    transition: 0.4s;
}
.change_sort_param_wrap:hover{
    border-radius: 8px;
    border: 1px solid #004DD5;
    box-shadow: 0 0 5px #004DD5;
}
.change_sort_param_wrap:hover>.basic_sort_param{
    border-bottom: none;
}
.basic_sort_param{
    color:#6B7A99;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.basic_sort_param.choose_sort_param{
    width: 243px;
    height: 40px;
    transition: 0.3s;
}
.change_param_img_wrap{
    width:  24px;
    height: 24px;
    display: flex;
    align-items: center;
}
.change_param_img{
    object-fit: contain;
}
.change_param_pop_up{
    display:none;
}
.change_active_sort_param_wrap:hover> .change_param_pop_up{
    position: absolute;
    z-index: 20;
    width: 243px;
    height: 40px;
    display:flex;
    align-items: left;
    background: #FFFFFF;
    border-radius:8px;
}
.basic_sort_param.choose_sort_param{
    width: 243px;
    height: 40px;
    padding: 10px 12px;
}
.change_active_sort_param_wrap:hover .basic_sort_param.choose_sort_param:hover{
    border-radius: 8px;
    color: rgba(0, 77, 213, 1);
    background: rgba(0, 77, 213, 0.1);
}